Repository sungam3r/SteroidsDI, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

Switch to the latest 6.0.x NET SDK and fix compiler issues
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
Labels: CI

1
  src/SteroidsDI.Tests/Cases/ScopedTestBase.cs
Labels: tests

Switch to the latest 6.0.x NET SDK and fix compiler issues (#104)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/SteroidsDI.Tests/Cases/ScopedTestBase.cs
Labels: tests, CI

NET7
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/Example/Example.csproj
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

fix
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
Labels: tests

NET7 (#109)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/Example/Example.csproj
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

.NET Core SDK -> .NET SDK
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
Labels: CI

Change badges
  README.md
Labels: documentation

Add IAsyncDisposable support to Scoped class
  README.md
  src/Directory.Build.props
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Core/Scoped.cs
  src/SteroidsDI.Core/SteroidsDI.Core.csproj
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.Core.approved.txt
  src/SteroidsDI.Tests/Cases/ScopedTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
Labels: tests, documentation

fix
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

tests
  src/SteroidsDI.Tests/Cases/ScopedTests.cs
Labels: tests

Add IAsyncDisposable support to Scoped class (#112)
  README.md
  src/Directory.Build.props
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Core/Scoped.cs
  src/SteroidsDI.Core/SteroidsDI.Core.csproj
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.Core.approved.txt
  src/SteroidsDI.Tests/Cases/ScopedTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, documentation

Using statements
  src/SteroidsDI.Tests/Cases/AllowRootProviderResolveTests.cs
  src/SteroidsDI.Tests/Cases/AspNetCoreHttpScopeProviderTests.cs
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/Cases/ValidateParallelScopesTests.cs
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

rollback
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

format
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
Labels: tests

Using statements (#113)
  src/SteroidsDI.Tests/Cases/AllowRootProviderResolveTests.cs
  src/SteroidsDI.Tests/Cases/AspNetCoreHttpScopeProviderTests.cs
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/Cases/ValidateParallelScopesTests.cs
Labels: tests

Update license
  LICENSE.md
Labels: none

top-level statements
  src/Example/Program.cs
Labels: none

Update license and use top-level statements (#117)
  LICENSE.md
  src/Example/Program.cs
Labels: none

Bump PublicApiGenerator to v11
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.Core.approved.txt
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

Use MinVer
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
Labels: tests, CI

fix
  .github/workflows/test.yml
Labels: CI

Use MinVer (#120)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
Labels: tests, CI

.NET8
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/Example/Example.csproj
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Core/SteroidsDI.Core.csproj
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

.NET8 (#141)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/Example/Example.csproj
  src/SteroidsDI.AspNetCore/SteroidsDI.AspNetCore.csproj
  src/SteroidsDI.Core/SteroidsDI.Core.csproj
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

C#12 collection initialization expression
  src/Example/Models/Repository.cs
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
Labels: tests

C#12 collection initialization expression (#142)
  src/Example/Models/Repository.cs
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
Labels: tests

Fix CodeQL issues
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI/Factory/FactoryGenerator.cs
Labels: tests

fix
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
Labels: tests

Fix CodeQL issues (#143)
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI/Factory/FactoryGenerator.cs
Labels: tests

Primary constructors
  src/SteroidsDI.Tests/Cases/AllowRootProviderResolveTests.cs
  src/SteroidsDI.Tests/Cases/ScopedTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/Cases/ValidateParallelScopesTests.cs
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

Primary constructors (#144)
  src/SteroidsDI.Tests/Cases/AllowRootProviderResolveTests.cs
  src/SteroidsDI.Tests/Cases/ScopedTests.cs
  src/SteroidsDI.Tests/Cases/UseFriendlyObjectDisposedExceptionTests.cs
  src/SteroidsDI.Tests/Cases/ValidateParallelScopesTests.cs
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests

Remove whitespaces
  src/SteroidsDI.AspNetCore/AspNetCoreHttpScopeProvider.cs
  src/SteroidsDI.AspNetCore/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI.Core/Defer.cs
  src/SteroidsDI.Core/GenericScope.cs
  src/SteroidsDI.Core/IDefer.cs
  src/SteroidsDI.Core/IScopeFactory.cs
  src/SteroidsDI.Core/Scoped.cs
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Factory/IGenericFactory.Generated.cs
  src/SteroidsDI.Tests/Factory/IGenericFactory.cs
  src/SteroidsDI.Tests/Factory/IMegaFactory.Generated.cs
  src/SteroidsDI.Tests/Factory/IMegaFactory.cs
  src/SteroidsDI.Tests/Model/ScopedService.cs
  src/SteroidsDI.Tests/Model/TransientService.cs
  src/SteroidsDI/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/FactoryGenerator.cs
  src/SteroidsDI/Factory/NamedBinding.cs
  src/SteroidsDI/MicrosoftScopeFactory.cs
  src/SteroidsDI/ServiceProviderAdvancedOptions.cs
Labels: tests

Remove whitespaces
  src/SteroidsDI/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI/Factory/BindingContext.cs
Labels: none

Add default bindings for Named Factory
  README.md
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.approved.txt
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Model/IBuilder.cs
  src/SteroidsDI.Tests/ServicesBuilder.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/NamedBinding.cs
  src/SteroidsDI/Resolver.cs
Labels: tests, documentation

test
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
Labels: tests

proper replace
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/NamedBinding.cs
Labels: tests

remove default
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.approved.txt
  src/SteroidsDI/Factory/BindingContext.cs
Labels: tests

no linq
  src/SteroidsDI/Resolver.cs
Labels: none

default name
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/NamedBinding.cs
  src/SteroidsDI/Resolver.cs
Labels: tests

.github/labeler.yml:

tests:
  - src/SteroidsDI.Tests/**/*

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/codecov.yml
  - .github/labeler.yml

code style:
  - .editorconfig

documentation:
  - README.md
