Repository sungam3r/SteroidsDI, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

CI tweaks
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
Labels: CI, documentation

CI tweaks (#25)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
Labels: CI, documentation

CI and readme tweaks
  .github/workflows/publish-release.yml
  README.md
Labels: CI, documentation

CI and readme tweaks (#31)
  .github/workflows/publish-release.yml
  README.md
Labels: CI, documentation

fix CI + add funding
  .github/FUNDING.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

fix CI + add funding (#32)
  .github/FUNDING.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
Labels: tests, CI

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update README.md
  README.md
Labels: documentation

CI tweaks: add CodeQL analysis, LGTM badges, dotnet-format check, fix labeler
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.AspNetCore.approved.txt
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.Core.approved.txt
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.approved.txt
  src/SteroidsDI.sln
Labels: tests, CI, documentation

apply dotnet format
  src/Example/Models/EntryPoint.cs
  src/Example/Models/IRepositoryFactory.cs
  src/Example/Models/Repository.cs
  src/Example/PersonsController.cs
  src/Example/Startup.cs
  src/SteroidsDI.AspNetCore/AspNetCoreHttpScopeProvider.cs
  src/SteroidsDI.AspNetCore/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI.Core/IDefer.cs
  src/SteroidsDI.Tests/Cases/AspNetCoreHttpScopeProviderTests.cs
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Factory/IGenericFactory.cs
  src/SteroidsDI.Tests/Factory/IMegaFactory.cs
  src/SteroidsDI.Tests/Factory/WrongFactories.cs
  src/SteroidsDI.Tests/Model/Controller.cs
  src/SteroidsDI.Tests/Model/IBuilder.cs
  src/SteroidsDI.Tests/Model/INotifier.cs
  src/SteroidsDI.Tests/Model/ManagerType.cs
  src/SteroidsDI.Tests/Model/ScopedService.cs
  src/SteroidsDI.Tests/Model/TransientService.cs
  src/SteroidsDI/DelegatedDefer.cs
  src/SteroidsDI/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/FactoryGenerator.cs
  src/SteroidsDI/GenericScopeProvider.cs
  src/SteroidsDI/InternalsVisibleTo.cs
  src/SteroidsDI/MicrosoftScopeFactory.cs
  src/SteroidsDI/Resolver.cs
  src/SteroidsDI/ServiceProviderAdvancedOptions.cs
Labels: tests

fix CI
  .github/workflows/test.yml
Labels: CI

CI tweaks: add CodeQL analysis, LGTM badges, dotnet-format check, fix labeler (#36)
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
  src/Example/Models/EntryPoint.cs
  src/Example/Models/IRepositoryFactory.cs
  src/Example/Models/Repository.cs
  src/Example/PersonsController.cs
  src/Example/Startup.cs
  src/SteroidsDI.AspNetCore/AspNetCoreHttpScopeProvider.cs
  src/SteroidsDI.AspNetCore/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI.Core/IDefer.cs
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.AspNetCore.approved.txt
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.Core.approved.txt
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.approved.txt
  src/SteroidsDI.Tests/Cases/AspNetCoreHttpScopeProviderTests.cs
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Cases/FuncTests.cs
  src/SteroidsDI.Tests/Factory/IGenericFactory.cs
  src/SteroidsDI.Tests/Factory/IMegaFactory.cs
  src/SteroidsDI.Tests/Factory/WrongFactories.cs
  src/SteroidsDI.Tests/Model/Controller.cs
  src/SteroidsDI.Tests/Model/IBuilder.cs
  src/SteroidsDI.Tests/Model/INotifier.cs
  src/SteroidsDI.Tests/Model/ManagerType.cs
  src/SteroidsDI.Tests/Model/ScopedService.cs
  src/SteroidsDI.Tests/Model/TransientService.cs
  src/SteroidsDI.sln
  src/SteroidsDI/DelegatedDefer.cs
  src/SteroidsDI/Extensions/ServiceCollectionExtensions.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/FactoryGenerator.cs
  src/SteroidsDI/GenericScopeProvider.cs
  src/SteroidsDI/InternalsVisibleTo.cs
  src/SteroidsDI/MicrosoftScopeFactory.cs
  src/SteroidsDI/Resolver.cs
  src/SteroidsDI/ServiceProviderAdvancedOptions.cs
Labels: tests, CI, documentation

Fix project name
  README.md
Labels: documentation

Fix project name (#37)
  README.md
Labels: documentation

.github/labeler.yml:

"tests":
  - src/SteroidsDI.Tests/**/*

"CI":
  - .github/workflows/**/*

"code style":
  - .editorconfig

"documentation":
  - README.md
