Repository sungam3r/SteroidsDI, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

class
  src/SteroidsDI/Factory/NamedBinding.cs
Labels: none

tests
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
Labels: tests

final
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI/Factory/NamedBinding.cs
Labels: tests

Add default bindings for Named Factory (#151)
  README.md
  src/SteroidsDI.Tests/Cases.Approval/ApiApprovalTests.cs
  src/SteroidsDI.Tests/Cases.Approval/SteroidsDI.approved.txt
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Model/IBuilder.cs
  src/SteroidsDI.Tests/ServicesBuilder.cs
  src/SteroidsDI/Factory/BindingContext.cs
  src/SteroidsDI/Factory/NamedBinding.cs
  src/SteroidsDI/Resolver.cs
Labels: tests, documentation

Editorial changes
  src/SteroidsDI.Tests/Cases/FactoryTests.cs
  src/SteroidsDI.Tests/Factory/IGenericFactory.cs
  src/SteroidsDI.Tests/Factory/INonGenericFactory.Generated.cs
  src/SteroidsDI.Tests/Factory/INonGenericFactory.cs
  src/SteroidsDI.Tests/Model/Controller.cs
  src/SteroidsDI.Tests/ServicesBuilder.cs
  src/SteroidsDI/Extensions/ServiceCollectionExtensions.cs
Labels: tests

Create SECURITY.md
  SECURITY.md
Labels: none

Continuous benchmarking
  .github/workflows/benchmarks.yml
  README.md
  src/Benchmarks/Benchmarks.csproj
  src/Benchmarks/DeferBenchmarks.cs
  src/Benchmarks/Program.cs
  src/Benchmarks/combine-bechmarks.cs
  src/SteroidsDI.sln
Labels: CI, documentation

1
  src/Benchmarks/Benchmarks.csproj
  src/Benchmarks/combine-bechmarks.csx
Labels: none

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

2
  .github/workflows/benchmarks.yml
Labels: CI

1
  README.md
Labels: documentation

Continuous benchmarking (#152)
  .github/workflows/benchmarks.yml
  README.md
  src/Benchmarks/Benchmarks.csproj
  src/Benchmarks/DeferBenchmarks.cs
  src/Benchmarks/Program.cs
  src/Benchmarks/combine-bechmarks.csx
  src/SteroidsDI.sln
Labels: CI, documentation

add SteroidsDI Benchmarks (benchmarkdotnet) benchmark result for 8d920803318c1d2e6eca70034335c5c9e90bccc3
  dev/bench/data.js
  dev/bench/index.html
Labels: none

Tune benchmarks
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
Labels: CI

1
  .github/workflows/benchmarks.yml
  src/Benchmarks/DeferBenchmarks.cs
Labels: CI

1
  src/Benchmarks/DeferBenchmarks.cs
Labels: none

Tune benchmarks (#153)
  .github/workflows/benchmarks.yml
Labels: CI

add SteroidsDI Benchmarks (benchmarkdotnet) benchmark result for a3707ea67461259e907e5968c63728438a22ed0b
  dev/bench/data.js
Labels: none

Add job summary
  .github/workflows/benchmarks.yml
Labels: CI

Do not pack benchmarks
  src/Benchmarks/Benchmarks.csproj
Labels: none

add SteroidsDI Benchmarks (benchmarkdotnet) benchmark result for 7b6501276f9c6d8c0caabdba5531ed52b22d4190
  dev/bench/data.js
Labels: none

Fix readme packaging
  src/Directory.Build.props
Labels: none

add SteroidsDI Benchmarks (benchmarkdotnet) benchmark result for eb536386df28adfaeca315b7f366acc5ea8ce5bb
  dev/bench/data.js
Labels: none

Simplify code coverage
  .github/workflows/label.yml
  .github/workflows/test.yml
  src/Directory.Build.targets
  src/SteroidsDI.Tests/SteroidsDI.Tests.csproj
  src/SteroidsDI.sln
Labels: tests, CI

.github/labeler.yml:

tests:
  - src/SteroidsDI.Tests/**/*

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/codecov.yml
  - .github/labeler.yml

code style:
  - .editorconfig

documentation:
  - README.md
